* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:host {
  font-family: "Montserrat", sans-serif;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: rgb(27, 28, 43);
  background: -moz-linear-gradient(45deg,
      rgba(27, 28, 43, 1) 0%,
      rgba(27, 28, 43, 1) 57%,
      rgba(31, 42, 89, 1) 100%);
  background: -webkit-linear-gradient(45deg,
      rgba(27, 28, 43, 1) 0%,
      rgba(27, 28, 43, 1) 57%,
      rgba(31, 42, 89, 1) 100%);
  background: linear-gradient(45deg,
      rgba(27, 28, 43, 1) 0%,
      rgba(27, 28, 43, 1) 57%,
      rgba(31, 42, 89, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1b1c2b", endColorstr="#1f2a59", GradientType=1);
  max-width: 520px;
  padding: 2rem;
  border-radius: 15px;
  color: #fff;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.svg-icon {
  width: 32px;
  height: 32px;
}

#upload-inprogress {
  fill: #3c80fa;
}

#upload-finished {
  fill: #2ce999;
}

#upload-error {
  fill: #ff6a97;
}

.modal-header {
  color: #fff;
  margin-bottom: 15px;
}

.modal-body {
  color: #a8a9c2;
}

.modal-footer {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 431px) {
  .modal-container {
    margin: 1rem;
  }

  .status-icon-container {
    display: none;
  }

  .modal-footer {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

.progress-bar {
  margin-right: 30px;
}

.progress-container {
  position: relative;
}

.progress-value {
  position: absolute;
  bottom: 15px;
  right: 0;
}

progress {
  border-radius: 7px;
  height: 7px;
  width: 100%;
  border: none;
}

progress::-webkit-progress-bar {
  background-color: #2d3044;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-color: #3c80fa;
  border-radius: 7px;
}

.btn {
  border: none;
  outline: none;
  background-color: #2e324a;
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 1.8rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #2a346ce9;
}

.btn-container {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

@media screen and (max-width: 431px) {
  .btn-container {
    flex-direction: column;
    gap: 1rem;
  }
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  color: #a8a9c2;
  border: none;
  outline: none;
  font-size: 15px;
  cursor: pointer;
}

.close-btn:focus,
.close-btn:active {
  background-color: transparent;
}

.link-copied-message {
  text-align: center;
  margin-top: 10px;
  letter-spacing: 1px;
}

.hide{
  display: none;
}